@import './globals.scss';

// (Temporary values)

* {
  //border: 1px dotted rgb(87, 87, 87); // dev tool
  //box-sizing: border-box;
  margin: 0;
  padding: 0;
  //align-items: center;
  
}

html,
body {
  //background-color: black;
  color: rgb(220, 220, 220);
  font-family: $fontFamilyBody;
  font-size: $fontSizeBody;
  line-height: $lineHeightBody;
  min-height: 100%;
}

section {
  font-family: $fontFamilyBody;
  font-size: $fontSizeBody;
  line-height: $lineHeightBody * 1.7;
  sup {
    display: block;
    font-size: $fontSizeSup;
    letter-spacing: $letterSpacingSup;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: $fontFamilyHeading, sans-serif;
    font-weight: $fontWeightHeading;
    letter-spacing: $letterSpacingHeading;
    text-shadow: 0 0 42px $glowBlue;
  }
  h1 {
    font-size: $fontSizeH1;
    line-height: $lineHeightH1;
  }
  h2 {
    font-size: $fontSizeH2;
    line-height: $lineHeightH2;
  }
  h3 {
    font-size: $fontSizeH3;
    line-height: $lineHeightH3;
  }
  h4 {
    font-size: $fontSizeH4;
    line-height: $lineHeightH4;
  }
  h5 {
    font-size: $fontSizeH5;
    line-height: $lineHeightH5;
  }
  h6 {
    font-size: $fontSizeH6;
    line-height: $lineHeightH6;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.psy-button-group {
  //display: inline-block;
  justify-content: center;
  margin: 0 auto;
  @media screen and (min-width: $desktopWidth) {
    display: flex;
  }
  button, a {
    justify-content: center;
    height: 43px;
    width: 215px;
    align-content: center;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid $linkBlue;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px $cyan;
    color: $linkBlue;
    cursor: pointer;
    display: block;
    font-size: $fontSizeBody;
    line-height: $fontSizeBody;
    margin: 0 auto;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    &:hover{
      color: white;
    }
    @media screen and (min-width: $desktopWidth) {
      padding: 10px 28px;
      
    }
  }
  // temporary 
  .css-1r28a09 {
    display: flex;
    // line-height: 10px !important;
    // padding: 12px 28px;
  }
}

.demo-borderless {
  background: none !important;
  border: none !important;
}

[data-reach-dialog-overlay] {
  z-index: 999999;
  .goki-walletkit-modal-wrapper {
    background: black;
    border: 2px solid $pink;
    span, p, h2, div {
      color: white;
    }
    h2 ~ div svg {
      fill: white;
    }
    h2 ~ div div,
    div:nth-of-type(2) div div,
    svg + div {
      background: black;
    }
    button {
      border: 1px solid $cyan;
    }
    a {
      color: $cyan;
    }
  }
}
