@import './globals.sass_config.scss';

// Temporary // 1st iterations

.app {
  text-align: center;
}

.header {
  border-bottom: 1px dotted $pink;
  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 12px;
    list-style: none;
    text-align: left;
  }
  p {
    background: $pink;
    border-radius: 2px;
    color: black;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 7px 18px;
  }
}

.header {
  align-items: center;
  display: flex;
  height: 88px;
  justify-content: center;
}

.main {
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 88px);
  justify-content: center;
  @media screen and (min-width: $desktopWidth) {
    // margin: 0 auto;
    display: flex;
    width: 100vw;
  }
}

.section {
  width: 100vw;

  @media screen and (min-width: $desktopWidth) {
    width: 90vw
  }
  @media screen and (min-width: $desktop2kWidth) {
    width: 70vw
  }
  @media screen and (min-width: $desktop3kWidth) {
    width: 50vw
  }
  @media screen and (min-width: $desktop4kWidth) {
    width: 30vw
  }
  @media screen and (min-width: $desktop5kWidth) {
    width: 20vw
  }
  @media screen and (min-width: $desktop6kWidth) {
    width: 10vw
  }
  @media screen and (min-width: $desktop7kWidth) {
    width: 8vw
  }
  @media screen and (min-width: $desktop8kWidth) {
    width: 5vw
  }
}
