@import './globals.scss';

.contributor {
  // * {
  //   border: 1px solid yellow;
  // }
  position: relative;
  a {
    background: rgba(0, 0, 0, 0.6);
  }
  a:hover {
    background: $cyan;
    border-color: $white;
    color: #000;
  }
}

.contributor {
  // temporary design tools
  section > p:first-of-type,
  form > p:first-of-type {
    // background: $green;
    border: 1px solid $green;
    border-radius: 2px;
    color: $green;
    // font-weight: 700;
    margin-bottom: $textBlockMarginMobile * 3;
    padding: 7px 18px;
  }
  section > div {
    &:first-of-type {
      margin-bottom: $textBlockMarginMobile;
    }
  }
  @media screen and (min-width: $desktopWidth) {
    section {
      display: flex;
      // align-items: center;
      justify-content: center;
      // height: 200px;
      flex-wrap: wrap;
      & > div {
        height: 100%;
        &:first-of-type {
          margin-bottom: unset;
          // temporary
          margin-right:  $textBlockMarginMobile * 5;
        }
      }
      & > div > div {
        margin-bottom: $textBlockMarginMobile * 2;
      }
    }
    li {
      text-align: left;
      span {
        padding: 6px 8px;
      }
    }
  }
  form {
    fieldset:last-of-type {
      // * {
      //   border: 1px solid $yellow;
      // }
      align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      label, input {
        display: block;
        width: 400px;
      }
      label {
        margin: 0;
        margin-bottom: $textBlockMarginMobile;
        text-align: center;
      }
      input {
      }
    }
  }
}

.experiment {
  & div:nth-of-type(2) {
    text-align: left;
    flex-basis: 400px;
    & div {
      margin-bottom: 0 !important;
      display: inline-block;
    }
  }
}


// temporary design tool
// experimental
.contributor {
  & > div:first-of-type div > div {
    border: 1px solid $green !important;
  }
  & div div > div {
    margin-bottom: $textBlockMarginMobile;
  }
}

// .contributor div:last-of-type {
//   background: yellow;
//   display: flex;
// }
