@import './globals.scss';
// @use "sass:math";

.header {
  background: black;
  //border-bottom: 1px dotted #8BEAFF;
  padding-top: $textBlockMarginMobile;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 888888;
  @media screen and (min-width: $desktopWidth) {
    padding-top: unset;
  }

  div:first-of-type {
    margin-left: $textBlockMarginMobile;
    flex: 1;
    width: 220px;
  }

  ul {
    @media screen and (min-width: $tabletWidth) {
      // margin-left: -20px;
    }
    li {
      font-size: 12px;
      list-style: none;
      margin-bottom: 2px;
      text-align: left;
      &:first-of-type {
        font-weight: 700;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 225px;
        white-space: nowrap;
        strong {
          background: $green;
          color: #000;
        }
        &:hover {
          margin-right: $textBlockMarginMobile;
          width: unset;
        }
      }
      &:not(:first-of-type) {
        color: lighten($grey, 20%);
        font-weight: 700;
        strong {
          background: $grey;
          color: #000;
        }
      }
      strong {
        display: inline-block;
        margin-right: 3px;
        padding: 0 5px;
        width: 60px;
      }
    }
  }
  p {
    // background: $grey-darkest;
    //border: 1px solid #8BEAFF;
    //border-radius: 2px;
    color: $yellow;
    font-size: 12px;
    font-weight: 700;
    margin-top: $textBlockMarginMobile;
    padding: 7px 18px;
    width:100%;
    @media screen and (min-width: $desktopWidth) {
      margin-right: $sectionPadding;
      margin-top: unset;
      width: unset;
    }
    // @media screen and (min-width: $desktopWidth) {
    //   margin-left: 25px;
    //   width: 250px;
    // }
  }
}

.header {
  align-items: center;
  justify-content: center;
  @media screen and (min-width: $desktopWidth) {
    display: flex;
    height: $headerHeightDesktop;
  }
}
