@import './globals.scss';

//https://pretagteam.com/question/how-can-i-hide-a-component-in-react-depending-on-the-screen-size


//TO-DO: should change the types of buttons tso MUI buttons
button{
  background-color: transparent;
  transition-duration: .4s;
  color: rgba(139, 234, 255, 0.9);
  padding: 6px ;
  font-size: 14px;
  min-width: 64px;
  box-sizing: border-box;
  padding: 15px;
  //transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  line-height: 1.75;
  border-radius: 15px;
  text-transform: none;
  border-width: 0px;
  justify-content: center;
  
  //align-items: center;
}

button.logo-button{
  width: 53.5px;
  height: 53.5px;
}
button:hover{
  transition: .8s;
  color:#ffffff;
}

.header {

  @media screen and (max-width: 420px) {
    .box{
      display: none;
      //position: sticky;
    }
  }

  display: flex;
  justify-content: left;
  //position: sticky;
  .button-container{
    align-items: center;
  }

  @media screen and (min-width: $desktopWidth) {
    //padding-top: unset;
  }

  background: linear-gradient(90deg, rgb(221, 62, 118) -0.83%, rgb(29, 77, 201) 100%);

  top: 0;
  height:64px;
  width: 100%;

}

  
  