@import './globals.scss';

//https://pretagteam.com/question/how-can-i-hide-a-component-in-react-depending-on-the-screen-size
img {
  width: 30px;
  height: 30px;
 }

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

@media(width: 600 px) {
  .button-container {
     display: none;
  }
}

.button-container{
  ///display: -webkit-flex;
  //display: -ms-flex;
  //align-content: top;
  //display: flex;
  //flex-direction: row;
  //justify-content: flex-end;
  //background-color: #8BEAFF;
  padding-bottom: 20px ;
  //justify-content: space-between;
}

.button-container li {
  //display: inline-block;
  //list-style: none;
}

.button-container li:not(:last-of-type) {
  margin: 0 5px;
}

.button-container li:last-of-type {
  justify-content: right;
  margin-left: auto;
  
}
//TO-DO: should change the types of buttons tso MUI buttons
button{
  background-color: transparent;
  transition-duration: .4s;
  color: rgba(139, 234, 255, 0.9);
  padding: 6px 16px;
  font-size: 14px;
  min-width: 64px;
  box-sizing: border-box;
  //transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Manrope, sans-serif;
  font-weight: 700;
  line-height: 1.75;
  border-radius: 4px;
  text-transform: none;
  border-width: 0px;
}

button:hover{
  transition: .8s;
  color:#ffffff;
}

.header {
  div:first-of-type{
    .button-container{
      :first{
        position: relative;
      }
    }
  }
  align-items: center;
  display: flex;
  justify-content: left;
  size: absolute;
  position: sticky;
  top: 0;

  :last-of-type{
     //align-items: bottom;
  }

  @media screen and (min-width: $desktopWidth) {
    display: flex;
    //height: $headerHeightDesktop;
    //padding-top: unset;
  }

  background: linear-gradient(90deg, rgb(221, 62, 118) -0.83%, rgb(29, 77, 201) 100%);
  //border-bottom: 1px dotted #8BEAFF;
  //padding-top: $textBlockMarginMobile;
  top: 0;
  height:53px;
  width: 100%;
  z-index: 888888;
  padding: 8px;


 
}

  
  


  
p {
  //background: $grey-darkest;
  /*border: 1px solid #8BEAFF;
  border-radius: 2px;
  //color: $yellow;
  font-size: 12px;
  font-weight: 700;
  margin-top: $textBlockMarginMobile;
  padding: 7px 18px;
  width:100%;
  @media screen and (min-width: $desktopWidth) {
    margin-right: $sectionPadding;
    //margin-top: unset;
    width: unset;
  }*/
    // @media screen and (min-width: $desktopWidth) {
    //   margin-left: 25px;
    //   width: 250px;
    // }
  }


// entire header

//}
