@import './globals.scss';

.home {
  //padding-top: 10px;
  //overflow: scroll;
  margin: 36px;
  //min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(30,30,30);
  border-radius: 15px;
  //background: linear-gradient(90deg, rgb(221, 62, 118) -0.83%, rgb(29, 77, 201) 100%);
}
