@import "./globals.scss";

.index-intro-guest {
  align-content: top;
  @media screen and (min-width: $desktopWidth) {
    display: flex;
  }
  position: relative;
}

.index-intro-guest section {
  margin-top: $textBlockMarginMobile;
  @media screen and (min-width: $desktopWidth) {
    margin-top: unset;
    flex: 1;
  }
  sup {
    margin: 8px;
    margin-bottom: 8px;
    @media screen and (min-width: $desktopWidth) {
      margin-top: $sectionPaddingMobile;
    }
  }
  h1 {
    margin-bottom: $textBlockMargin;
    @media screen and (min-width: $desktopWidth) {
    }
  }
  div:first-of-type {
    margin: $textBlockMargin;
    margin-bottom: $textBlockMargin * 2;
  }
}

nav {
  justify-content: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.index-intro-guest section nav {
  display: flex;
  width: 100%;
  button {
    margin: 0 auto;
  }
  button {
    margin-bottom: $textBlockMarginMobile;
    @media screen and (min-width: $desktopWidth) {
      margin-right: $textBlockMarginMobile;
      margin-bottom: unset;
    }
  }
}

.index-intro-guest figure {
  height: 350px;
  margin: 0 auto;
  margin-top: $textBlockMarginMobile * 2;
  position: relative;
  width: 300px;
  padding: 8px;
  @media screen and (min-width: $desktopWidth) {
    height: 350px;
    margin: unset;
    width: 325px;
  }
}
