@import './globals.scss';

.index-intro-guest {
  @media screen and (min-width: $desktopWidth) {
    display: flex;
  }
  position: relative;
}

.index-intro-guest section {
  margin-top: $textBlockMarginMobile;
  @media screen and (min-width: $desktopWidth) {
    margin-top: unset;
    flex: 1;
  }
  sup {
    margin-bottom: 8px;
    @media screen and (min-width: $desktopWidth) {
      margin-top: $sectionPaddingMobile;
    }
  }
  h1 {
    margin-bottom: $textBlockMargin;
    @media screen and (min-width: $desktopWidth) {
      margin-bottom: $textBlockMargin;
    }
  }
  div:first-of-type {
    margin-bottom: $textBlockMargin * 2;
  }
}

.index-intro-guest section nav {
  display: flex;
  width: 100%;
  button {
    margin: 0 auto;
  }
  button:first-of-type {
    margin-bottom: $textBlockMarginMobile;
    @media screen and (min-width: $desktopWidth) {
      margin-right: $textBlockMarginMobile;
      margin-bottom: unset;
    }
  }
}

.index-intro-guest figure {
  height:350px;
  margin: 0 auto;
  margin-top: $textBlockMarginMobile * 2;
  position: relative;
  width: 300px;
  @media screen and (min-width: $desktopWidth) {
    height: 350px;
    margin: unset;
    width: 325px;
  }
}
