@import './globals.sass_config.scss';

.index-intro-guest {
  display: flex;
  position: relative;
}

.index-intro-guest section {
  flex: 1;
  sup {
    margin-bottom: 8px;
  }
  h1 {
    margin-bottom: 8px;
  }
  div:first-of-type {
    margin-bottom: 18px;
  }
}

.index-intro-guest figure {
  display: flex;
  width: 300px;
}
