@import "./globals.scss";

.project-card {
  //background-color: green;
  border-radius: 15px;
  border-color: green;
  background-color: rgb(30, 30, 30);
  border-width: 3px;
  color: white;
}

h4 {
  margin: 10px;
}

.card {
  border-width: 3px;
  margin-bottom: 20px;
  background-color: rgb(52,52,61);
  box-shadow: 0px 0px 10px 3px  rgb(201,76, 119);
  //display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: repeat(2, 1fr);

  .card-content {  // doesnt work
    background-color: $cyan;
  }

  p {
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    background-color: black;
  }
}
