@import './globals.scss';



.Card{
    //variant : outlined;
    background-color: $cyan;
    box-shadow: 120px 0px 40px 20px $cyan;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.CardContent{
    background-color: $cyan;
    //backgroundColor: "rgb(30, 30, 30)";
    color : "rgb(160, 232, 252)";
    outline-color: blue;
}

