@import './globals.scss';
@import './colors.scss';

.portfolio-row-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    border: 1px solid $psyoptions-pink;
    border-top: none;
    padding: 0px 20px;

    .row-section {
        margin: 8px 4px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.portfolio-header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    border: 1px solid $psyoptions-pink;
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .header-section {
        margin: 8px 4px;
    }
}

.portfolio-wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin: 16px 10% 0px;
}

.expiration {
    width: 20%;
    text-align: left;
}

.price {
    width: 15%;
    text-align: right;
}

.amount {
    width: 20%;
    text-align: right;
}

.mint {
    width: 25%;
    text-align: right;
}

.exercise {
    width: 20%;
    text-align: left;
    .exercise-button {
        box-sizing: content-box;
        width: 6%;
        color: $psyoptions-purple;
        height: 30px;
        &:hover {
            color: red;
            cursor: pointer;
        }
        padding: 2px 16px;
        border-radius: 5px;
        background-color: $psyoptions-pink;
    }
}

.exercise-modal {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: grey;
    border-radius: 10px;
    border: 2px solid $psyoptions-pink;
    box-shadow: 24;
    color: white;

    .modal-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .modal-header {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 24px;
    }

    .modal-row {
        display: flex;
        flex-direction: row;
        margin: 20px 15px 0px;
        justify-content: space-between;

        .exercise-input {
            border: none;
            font-size: 16px;
            padding: 2px 6px 2px 0px;
            text-align: right;
        }
    }

    .buttons-wrapper {
        margin-top: auto;
        width: 100%;

        button {
            width: 50%;
            border-top: 1px solid $psyoptions-pink;
            border-radius: 0px;
            &:first-child {
                border-right: 1px solid $psyoptions-pink;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.portfolio-card {
  border: 1px solid $psyoptions-pink;
  border-radius: 10px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;

  .card-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  
  .card-left {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .project-name {
    color: $psyoptions-purple;
    font-size: 36px;
  }
  
  .logo-wrapper {
    max-width: 200px;
    max-height: 50px;
    display: flex;
    .project-logo {
      width: auto;
      height: auto;
      display: block;
      max-width: 200px;
      max-height: 50px;
    }
  }
  
  .card-right {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
  
    .right-text {
      text-align: right;
      font-size: 24px;
      margin-bottom: 5px;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      .price-change {
          color: green;
          margin-right: 10px;
      }
    }
  }
  
  .card-description {
    font-size: 14px;
    color: gray;
    text-align: left;
  }
  
  .card-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
  
    a {
      padding: 0px 10px;
      svg {
        width: 30px;
        height: 30px;
      }
  
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  a.internet-icon {
    svg {
      fill: $psyoptions-pink;
    }
    padding-right: 0px;
  }
  
}