@import "./globals.scss";


h3{
  text-align: left;
  margin: 20px;
  letter-spacing: 5px;
  font-weight: 500px;
}

/* Create two unequal columns that floats next to each other */
.Parent {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  .child1 {
    margin: 20px;
  }

  .child2 {
    margin: 20px;
  }
}
