@import "./globals.scss";


h3{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(33,33,40);
  color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  letter-spacing: 8px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(175,230,238);


  @media screen and (max-width: 800px){
    text-align: center;
  }
}

/* Create two unequal columns that floats next to each other */
.Parent {
  //background-color: rgb(30,30,30);
  //border-width: 5px;
  //border-color: linear-gradient(180deg, rgb(160, 232, 252) -0.83%, rgb(145, 233, 164) 100%);
  
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  .MuiPaper-root{
    border-radius: 15px;
  }
  
  @media screen and (max-width: 800px) {
    flex-direction: column;
    .child1{
      display: none;
    }
  }

  .child1 { // wallet panel
    margin: 10px; 
    //display: none;
    //width: 0%;
  }

  .child2 { 
   
    margin: 10px;
  }
}
