@import "./globals.scss";

.container{
  //display:grid;
  
  /* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  justify-content: center;
  width: 75%;
}

.right {
  justify-content: center;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
}

