@import './globals.scss';
@import './colors.scss';

.portfolio-row-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    border: 1px solid $psyoptions-pink;
    border-top: none;
    padding: 0px 20px;

    .row-section {
        margin: 8px 4px;
    }

    &:last-child {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.portfolio-header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    border: 1px solid $psyoptions-pink;
    padding: 0px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .header-section {
        margin: 8px 4px;
    }
}

.portfolio-wrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin: 16px 10% 0px;
}

.expiration {
    width: 20%;
    text-align: left;
}

.price {
    width: 15%;
    text-align: right;
}

.amount {
    width: 20%;
    text-align: right;
}

.mint {
    width: 25%;
    text-align: right;
}

.exercise {
    width: 20%;
    text-align: left;
    .exercise-button {
        box-sizing: content-box;
        width: 6%;
        color: $psyoptions-purple;
        height: 30px;
        &:hover {
            color: red;
            cursor: pointer;
        }
        padding: 2px 16px;
        border-radius: 5px;
        background-color: $psyoptions-pink;
    }
}

.exercise-modal {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 400px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: grey;
    border-radius: 10px;
    border: 2px solid $psyoptions-pink;
    box-shadow: 24;
    color: white;

    .modal-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .modal-header {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 24px;
    }

    .modal-row {
        display: flex;
        flex-direction: row;
        margin: 20px 15px 0px;
        justify-content: space-between;

        .exercise-input {
            border: none;
            font-size: 16px;
            padding: 2px 6px 2px 0px;
            text-align: right;
        }
    }

    .buttons-wrapper {
        margin-top: auto;
        width: 100%;

        button {
            width: 50%;
            border-top: 1px solid $psyoptions-pink;
            border-radius: 0px;
            &:first-child {
                border-right: 1px solid $psyoptions-pink;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}