@import './globals.scss';

.treasury {
  // * {
  //   border: 1px solid yellow;
  // }
  position: relative;
  a {
    //background: rgba(0, 0, 0, 0.6);
    //background: transparent;
  }
  a:hover {
    background: $cyan;
    border-color: $white;
    color: #000;
  }
}

.treasury {
  // temporary design tools
  section > p:first-of-type,
  form > p:first-of-type {
    // background: $green;
    border: 1px solid $green;
    border-radius: 2px;
    color: $green;
    // font-weight: 700;
    margin-bottom: $textBlockMarginMobile * 3;
    padding: 7px 18px;
  }
  section > div {
    &:first-of-type {
      margin-bottom: $textBlockMarginMobile;
    }
  }
  @media screen and (min-width: $desktopWidth) {
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 200px;
      flex-wrap: wrap;
      & > div {
        height: 100%;
        &:first-of-type {
          margin-bottom: unset;
          // temporary
          margin-right:  $textBlockMarginMobile * 5;
        }
      }
      & > div > div {
        margin-bottom: $textBlockMarginMobile * 2;
      }
    }
    li {
      text-align: left;
      span {
        padding: 6px 8px;
      }
    }
  }
  form {
    fieldset:last-of-type {
      // * {
      //   border: 1px solid $yellow;
      // }
      align-items: center;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      label {
        margin: 0;
        margin-bottom: $textBlockMarginMobile;
        text-align: center;
      }
      input {
      }
    }
  }
}

// temporary design tools
// experimental
.experiment {
  & > div input {
    margin-right: $textBlockMarginMobile;
  }
  & > div button {
    background: $green;
    border: 2px solid $green;
    border-radius: 50%;
    box-shadow: 0 0 5px 2px rgba($green, 0.5);
    color: white;
    font-size: 35px;
    line-height: 37px;
    display: inline-block;
    padding: 0px 10px;
    vertical-align: middle;
  }
}
.experiment-two {
  label, input {
    display: block;
    width: 400px;
  }
}



