@import './globals.scss';

.wallet{

}
ul {
 
    //@media screen and (min-width: $tabletWidth) {
      justify-items: left;
      //align-items: center;
      //padding: 20px;
      li {
        //position: absolute;
        //left: -139px;
        //padding: 4px 28px 0 30px;
        //top: 6px;
        //padding: 5px;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 12px;
        list-style: none;
        margin-bottom: 2px;
        text-align: left;
        &:first-of-type {

          border-radius: 5px;
          font-weight: 700;
          overflow: scroll;
          text-overflow: ellipsis;
          width: 225px;
          white-space: nowrap;
          strong {
            background: $cyan;
            color: #000;
            
          }
          &:hover {
            //margin-right: $textBlockMarginMobile;
            width: unset;
          }
        }
      &:not(:first-of-type) {

          width: 225px;
          border: 1px solid rgb(255, 255, 255);
          border-radius: 5px;
          color: lighten($grey-lighter, 20%);
          font-weight: 700;
        strong {
            background-size: 225px;
          background: rgb(30,30,30);
          color:$grey-lighter;
        }
      }
      strong {
        display: inline-block;
        margin-right: 3px;
        //padding: 0 5px;
        //width: 60px;
      }
      &:last-of-type{
          justify-content: center;
      }
    }
  }