@import './globals.sass_config.scss';

// .container * {
//   border: 1px dotted yellow;
// }

.container {
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 100vh;
  @media screen and (min-width: $desktopWidth) {
    // margin: 0 auto;
    display: flex;
    width: 100vw;
  }
}

.content {
  width: 100vw;

  // Temporary
  @media screen and (min-width: $desktopWidth) {
    width: 60vw
  }
  @media screen and (min-width: $desktop2kWidth) {
    width: 50vw
  }
  @media screen and (min-width: $desktop3kWidth) {
    width: 40vw
  }
  @media screen and (min-width: $desktop4kWidth) {
    width: 30vw
  }
  @media screen and (min-width: $desktop5kWidth) {
    width: 20vw
  }
  @media screen and (min-width: $desktop6kWidth) {
    width: 10vw
  }
  @media screen and (min-width: $desktop7kWidth) {
    width: 8vw
  }
  @media screen and (min-width: $desktop8kWidth) {
    width: 5vw
  }
}

.content {
  sup {
    display: block;
    font-size: $fontSizeSup;
    letter-spacing: $letterSpacingSup;
  }
  h1 {
    font-family: $fontFamilyHeading, sans-serif;
    font-size: $fontSizeH1;
    font-weight: $fontWeightHeading;
    letter-spacing: $letterSpacingHeading;
    line-height: $lineHeightH1;
    text-shadow: 0 0 42px $glowBlue;
  }
}

.psy-button-group {
  button {
    background: none;
    border: 2px solid $linkBlue;
    border-radius: 4px;
    box-shadow: 0 0 2px 1px $cyan;
    color: $linkBlue;
    cursor: pointer;
    display: block;
    font-size: $fontSizeBody;
    margin: 8px;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    &:hover{
      color: white;
    }
    @media screen and (min-width: $desktopWidth) {
      display: inline-block;
      padding: 12px 28px;
    }
  }
}

// Template Generated

// .main {
//   align-items: center;
//   display: flex;
//   flex: 1;
//   flex-direction: column;
//   justify-content: center;
//   padding: 5rem 0;
// }

// .footer {
//   align-items: center;
//   border-top: 1px solid #eaeaea;
//   display: flex;
//   height: 100px;
//   justify-content: center;
//   width: 100%;
// }

// .footer a {
//   align-items: center;
//   display: flex;
//   flex-grow: 1;
//   justify-content: center;
// }

// .title a {
//   color: #0070f3;
//   text-decoration: none;
// }

// .title a:hover,
// .title a:focus,
// .title a:active {
//   text-decoration: underline;
// }

// .title {
//   font-size: 4rem;
//   line-height: 1.15;
//   margin: 0;
// }

// .title,
// .description {
//   text-align: center;
// }

// .description {
//   font-size: 1.5rem;
//   line-height: 1.5;
// }

// .code {
//   background: #fafafa;
//   border-radius: 5px;
//   font-size: 1.1rem;
//   font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
//     Bitstream Vera Sans Mono, Courier New, monospace;
//   padding: 0.75rem;
// }

// .grid {
//   align-items: center;
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   max-width: 800px;
//   margin-top: 3rem;
// }

// .card {
//   border: 1px solid #eaeaea;
//   border-radius: 10px;
//   color: inherit;
//   margin: 1rem;
//   padding: 1.5rem;
//   text-align: left;
//   text-decoration: none;
//   transition: color 0.15s ease, border-color 0.15s ease;
//   width: 45%;
// }

// .card:hover,
// .card:focus,
// .card:active {
//   color: #0070f3;
//   border-color: #0070f3;
// }

// .card h2 {
//   margin: 0 0 1rem 0;
//   font-size: 1.5rem;
// }

// .card p {
//   font-size: 1.25rem;
//   line-height: 1.5;
//   margin: 0;
// }

// .logo {
//   height: 1em;
//   margin-left: 0.5rem;
// }

// @media (max-width: 600px) {
//   .grid {
//     flex-direction: column;
//     width: 100%;
//   }
// }
